# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Dados brutos (grandes — não versionar)
data/raw/*.csv
data/raw/*.zip

# Streamlit cache
.streamlit/

# Modelos serializados
data/processed/*.pkl

# OS
.DS_Store
Thumbs.db
